@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mapbox popup styles */
.mapboxgl-popup {
  z-index: 1;
}

.mapboxgl-popup-content {
  pointer-events: auto !important;
  cursor: default;
  padding: 0;
}

.mapboxgl-popup.visible {
  opacity: 1;
  transform: translate(-50%, -100%);
}
